<h2>Latest Posts:</h2>
<br/>
<% @results.each do |row| %>
	<p>
		<%= row['Content'] %>
		<br/>
		<br/>
		Added at: <%= row['Creation_date'] %>
		<br/>
		<a href="/details/<%=row['Id']%>">Comments</a>
	</p>
	<hr/>
<% end %>