<h2>Latest Posts:</h2>
<br/>
<% @results.each do |row| %>
	<p>
		<%=row['Content']%>
		<br/>
		<br/>
		<small style="color: #999">Added by: <%=row['Username']%> at: <%=row['Creation_date']%></small>
		<br/>
		<small><a href="/details/<%=row['Id']%>">Comments</a></small>
	</p>
	<hr/>
<% end %>