<h2>Latest Posts:</h2>
<br/>
<% @posts.each do |row| %>
	<p>
		<%=row.content%>
		<br/>
		<br/>
		<small style="color: #999">Added by: <%=row.name%> at: <%=row.created_at.strftime('%d-%m-%Y %H:%M')%></small>
		<br/>
		<small><a href="/details/<%=row.id%>">Comments</a></small>
	</p>
	<hr/>
<% end %>